### TwinCAT 3 / SCADA PLC ###

# PLC backup / temp
*.plcproj.bak
*.plcproj.orig
*.compileinfo
*.asm
*.core

# DO NOT ignore .tmc (SCADA + ADS requires it)
# *.tmc
# *.tmcRefac

# TwinCAT project backups
*.tsproj.bak
*.tsproj.orig
*.tspproj.bak
*.xti.bak
*.xti.orig
*.xtv
*.xtv.bak

# Multiuser
**/.TcGit/

# Runtime / download artifacts (CRITICAL)
**/TwinCAT RT (x64)/**
**/Port_*.app
**/Port_*.cid
**/Port_*.crc
**/Port_*.occ
**/Port_*_boot.tizip
**/Boot/**
**/CurrentConfig/**
**/*.tzip
**/*.tszip

# Visual Studio
.vs/
*.user
*.suo
*.~u
*.project.~u

# Build
bin/
obj/